* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    align-items: center;
    margin-left: 10px;
    display: flex;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 110px;
    height: 110px;
    margin-right: 10px;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 2px;
    width: 300px;
    margin-right: 100px;
}

.search-container input[type="text"] {
    border: none;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.search-container button {
    border: none;
    padding: 0px;
    cursor: pointer;
}

.search-container button img {
    width: 40px;
    height: 40px;
}

.search-container button:hover {
    background-color: #ccc;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.quote-btn {
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li:last-child {
    margin-right: 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.social-media-info {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    box-sizing: border-box;
    margin-right: 30px;
    background-color: white;
}

.social-media-info h3 {
    color: #804674;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace, bold;
}

.locations {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    box-sizing: border-box;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: black;
}

.contact-list li i {
    margin-right: 10px;
    align-items: center;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 50px;
}

.button i {
    font-size: 20px;
}

.button:hover {
    background-color: #ddd;
}

#tiktok {
    color: black;
}

#facebook {
    color: #1a73e8;
}

#twitter {
    color: lightblue;
}

span {
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    width: 0px;
}

.button:hover {
    width: 160px;
    border-radius: 5px;
}

.button:hover span {
    width: 120px;
}

.locations-container {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations-container h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 30px;
    color: #804674;
    margin: 30px;
}

.location {
    display: flex; /* align elements horizontally */
    justify-content: space-between;
    align-items: center; /* Align elements vertically */
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image {
    display: flex;
    align-items: center; /* Align the pin and address vertically */
    margin-right: 20px; /* Add space between the image and map */
}

.image img {
    margin-right: 10px; /* Space between pin and text */
    width: 90px;
    height: 100px;
}

.text {
    flex: 1;
}

.text h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

address {
    font-style: normal;
    line-height: 1.6;
    color: #333;
}

.map-container {
    flex: 1;
    text-align: right; /* Align map to the right */
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    align-items: center;
    margin-left: 10px;
    display: flex;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 110px;
    height: 110px;
    margin-right: 10px;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: right; /* Centers the links horizontally */
    align-items: center;  /* Vertically aligns the links */
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 2px;
    width: 300px;
    margin-right: 100px;
}

.search-container input[type="text"] {
    border: none;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.search-container button {
    border: none;
    padding: 0px;
    cursor: pointer;
}

.search-container button img {
    width: 40px;
    height: 40px;
}

.search-container button:hover {
    background-color: #ccc;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.quote-btn {
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li:last-child {
    margin-right: 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.social-media-info {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 900px;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: white;
    margin-left: 110px;
}

.contactHeader {
    width: 1600px;
    height: 250px;
    padding-left: 110px;
}

.locations {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    box-sizing: border-box;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.EP1 {
    margin-bottom: 70px;
    display: block;
    align-items: center;
    align-self: center;
    color: black;
    margin-left: 100px;
    margin-top: -55px;
    font-size: x-large;
}

.SM1 {
    margin-top: 70px;
    font-size: 50px;

}

.iconImage {
    width: 850px;
    height: 180px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2cdd2d8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px;
    height: 100px;
    margin-left: 290px;
    margin-top: 20px;
}

.button i {
    font-size: 40px;
}

.button:hover {
    background-color: #ddd;
}

#tiktok {
    color: black;
}

#facebook {
    color: #1a73e8;
}

#twitter {
    color: rgb(121, 209, 238);
}

span {
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    width: 0px;
}

.button:hover {
    width: 350px;
    border-radius: 5px;
}

.button:hover span {
    width: 120px;
}

.locations-container {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 90px;
    height: 240px;
}

.locations-container h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 30px;
    color: #804674;
    margin: 30px;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 365px;
}

.image {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.image img {
    margin-right: 10px;
    width: 90px;
    height: 100px;
}

.text {
    flex: 1;
}

.text h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

address {
    font-style: normal;
    line-height: 1.6;
    color: #333;
}

.map-container {
    flex: 1;
    text-align: center;
}

.map-container iframe {
    width: 450px;
    height: 250px;
    border: 0;
    border-radius: 10px;
}

/* Footer Styling */
footer {
    background-color: #9c88beda;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    height: 200px;
}

.footer-section {
    margin: 10px;
    flex: 1 1 250px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footer-setion a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin: 5px 0;
}

.rights {
    width: 1200px;
    align-self: center;
    padding-left: 500px;
    font-weight: bold;
    height: 10px;
    margin-bottom: 15px;
}

.pRights {
    color: white;
    font-size: larger;
    padding-bottom: 20px;
}

.back-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #e16aff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.back-button:hover {
    background-color: #ded02d;
}

.back-button:focus {
    outline: none;
}